<div class="row">
  <div class="col-12 mt-2 d-flex flex-column">
    <h3>Criar novo produto</h3>
    <form>
      <div class="mt-4 mb-4">
        <label>Nome do Produto</label>
        <input
          required
          type="text"
          class="form-control"
          name="inputNovoProduto"
          [(ngModel)]="novoProduto"
        />

        <div class="mt-3">
          <label>Preço</label>
          <input
            required
            type="number"
            class="form-control"
            name="inputDetalhesDoProduto"
            [(ngModel)]="precoNovoProduto"
          />
        </div>
      </div>
      <button class="btn btn-primary" (click)="criarProduto()">
        Criar produto
      </button>
    </form>
  </div>
</div>
